*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; color: #000;}
button{background: none; border: none; cursor: pointer;}
body{
    font-family: 'Nanum Gothic', sans-serif;
}

.front{
    
}

/* 메뉴 바 */
.menu{
    position: absolute;
    bottom: 15%; width: 750px;
    left: -700px; transition: all 0.5s;
}
.menu.on{
    left: 50%; transform: translateX(-50%);
}
.menu .left{float: left; width: 700px;}
/* 메뉴 바 - gnb */
.menu .gnb{background: #111;}
.menu .gnb::after{clear: both; content: ''; display: block;}
.menu .gnb li{
    float: left; width: 20%; height: 60px; 
    box-sizing: border-box;
    border-right: 1px solid #666;
    transition: all 0.3s;
}
.menu .gnb li.on{border-bottom: 3px solid #FF7B54;}
.menu .gnb li a{
    color: #aaa; font-size: 18px; 
    display: block; line-height: 60px; 
    text-align: center;
    transition: all 0.3s;
}
.menu .gnb li.on a{color: #fff;}
.menu .gnb li:hover a{color: #fff;}

/* 메뉴 바 - lnb */
.menu .lnb{
    background: #444; height: 60px;
    box-sizing: border-box; border-right: 1px solid #666;
}
.menu .lnb::after{clear: both; content: ''; display: block;}
.menu .lnb .l-box{float: left;}
.menu .lnb .l-box li{float: left; padding: 20px; position: relative;}
.menu .lnb .l-box li button.on i{color: #aaa;}
.menu .lnb .l-box li i{
    font-size: 20px; color: #111;
    transition: all 0.3s;
}
.menu .lnb .l-box li p{
    position: absolute; 
    left: 50%; transform: translateX(-50%);
    bottom: -24px; text-align: center;
    background: #111;
    border-radius: 10px;
    color: #aaa; font-size: 12px;
    padding: 10px 0;
    width: 80px;
    opacity: 0; transition: all 0.3s;
}
.menu .lnb .l-box li:hover p{opacity: 1;}

.menu .lnb .r-box{float: right;}

/* 메뉴 바 - 메뉴온오프 */
.menu .menu-bt{
    width: 50px; height: 120px; background: #111; 
    float: left; position: relative;
    transition: all 0.3s;  cursor: pointer;
}
.menu .menu-bt p{
    position: absolute; color: #aaa;
    top: 50%;  text-align: center;
    transform: translateY(-50%) rotate(90deg);
    transition: all 0.3s;
}
.menu .menu-bt:hover{background: #FF7B54;}
.menu .menu-bt:hover p{color: #fff;}

.menu .lnb .r-box li{
    float: left; height: 60px;
}
.menu .lnb .r-box li input[type=radio]{
    position: absolute;
    visibility: hidden;
}
.menu .lnb .r-box li label{
    display: block; color: #aaa;
    padding: 0 14px; margin: 21px 0;
    font-size: 15px; cursor: pointer;
}
.menu .lnb .r-box li label.br{
    border-right: 1px solid #aaa;
}
.menu .lnb .r-box li input[type=radio]:checked ~ label{
    color: #FF7B54;
}

/* 무형유산 */
.list-box1{
    max-width: 1600px;
    width: 70%; height: 60vh;
    position: absolute;
    top: 8%; left: 50%; transform: translateX(-50%);
    background: #444;
    padding: 24px; box-sizing: border-box;
    display: none;
}
.list-box1 .in{
    width: 100%; height: 90%;
    margin: 0 auto;
    overflow: auto;
    max-width: 1080px;
}
.list-box1 h2{
    color: #fff;
    margin-bottom: 24px;
    text-align: center;
}
.list-box1 ul{}
.list-box1 ul::after{clear: both; content: ''; display: block;}
.list-box1 ul li{
    float: left;
    width: 23%; margin: 1%;
    position: relative;
}
.list-box1 ul li .img-box{
    background: #aaa;
    position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-bottom: 50%;
}
.list-box1 ul li .img-box div{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}
.list-box1 ul li h4{
    line-height: 20px; height: 40px;
    color: #fff; font-weight: 400;
    font-size: 14px; margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.list-box1 .close{
    position: absolute; right: 24px; top: 24px;
    color: #aaa; font-size: 20px;
}








